<!DOCTYPE html>
<html>
<head>
    <title>NomNomicon</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="bg-primary text-white py-4">
        <div class="container-fluid text-center">
            <h1 class="display-1 fw-bold">Groceries</h1>
        </div>
    </header>
    <div class="container mt-5">
        <div class="d-flex gap-2 justify-content-center mb-4 py-4"> 
            <button onclick ="location.href='http://localhost:5000/menu'" class="btn btn-primary w-25">Menu</button>
            <button onclick ="location.href='http://localhost:5000'" class="btn btn-primary w-25">Dishes</button>
            <button onclick ="location.href='http://localhost:5000/ingredients'" class="btn btn-secondary w-25">Groceries</button>
        </div>

        <h2 class="mb-3">Your Grocery list</h2>
        <ul class="list-group mb-5">
            {% for ingredient in ingredients %}
                <li class="list-group-item">{{ ingredient }}</li>
            {% else %}
                <li class="list-group-item text-muted text-center">No ingredients to show.</li>
            {% endfor %}
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>